@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Personel Takip Sistemi</h1>
    <p class="lead">ASP.NET Core ile geliştirilmiş basit bir personel takip uygulaması.</p>
</div>

<div class="text-center mt-4">
    <a asp-controller="Personel" asp-action="Index" class="btn btn-primary m-2">Yeni Personel</a>
    <a asp-controller="Departman" asp-action="Index" class="btn btn-success m-2">Yeni Departman</a>
</div>
