@model PersonelTakipMVC.Models.DTOs.DepartmanDto
<h2>Silme Onayı</h2>

<div class="alert alert-warning">
    <p><strong>@Model.DepartmanAdi</strong>adlı departman silinecek. Emin misiniz?</p>
</div>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id"/>
    <button type="submit" class="btn btn-danger">Sil</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>
